{%extends 'base.html'%}

{% load bootstrap4 %} 
{% block content%}
<div class="container">

{%if businesses %}
<br>
<h3>Businesses</h3>

{%for business in businesses%}
<div class="row">
    <div class="col-sm-6 mt-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Name :{{business.name}}</h5>
          <p class="card-text"> Description: {{business.description}}</p>
          <p class="card-text">Email: {{business.email}}</p>
          <p class="card-text text-muted">{{business.created | date}}</p>
          <a href="{%url 'delete_business' business.id %}" ><button class="btn-outline-danger">delete</button></a>
          <a href="{%url 'update_business' business.id %}" ><button class=" btn-outline-info">update</button></a>
        
        </div>
      </div>
    </div>
   
  </div>
{%endfor%}
{%endif%}

</div>      
{% endblock %}