{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">

    <div class="content-section">
      <div class="media">
        <img class=" account-img rounded-circle" alt="image" style="width:300px; height:300px" 
        data-holder-rendered="true" src="{{ profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
    <button><a href="{%url 'update_profile'%}">update</a></button>
    </div>
    </div>
{% endblock content %}